---
import Layout from '../layouts/Layout.astro';
import ColorPicker from '../components/React/ColorPicker.jsx';
import Hero from '../components/React/PageComponents/Hero.jsx'
import Text from '../components/React/PageComponents/Text.jsx'
import Card from '../components/React/PageComponents/Card.jsx'
---

<Layout title="Welcome to Astro.">
	<div class="colorpicker-wrapper">
		<div class="hero">
			<Hero height="300px" width="100%" client:load />
		</div>
		<Text align="center" />
		<div class="card-group">
			<div class="card">
				<Card
					title="Simple visualizations"
					description="Push a few buttons and get a beautiful visualization of your data." 
					client:load
				/>
			</div>
			<div class="card">
				<Card
					title="Its realistic"
					description="Color Palettes make it hard to pick. This tool distributes the colors on a real website." 
					description="It can be difficult to find the correct color palette for your website. This tool distributes the colors on a real time website." 
					client:load
				/>
			</div>
			<div class="card">
				<Card
					title="Simple visualizations"
					description="Push a few buttons and get a beautiful visualization of your data." 
					client:load
				/>
			</div>
		</div>
		<ColorPicker client:load/>
	</div>
</Layout>
<style>
	
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: rgba(var(--accent), 12%);
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}

	.card-group {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		justify-content: space-between;
	}

	.card-group .card {
		width: 33%;
		flex: 0 0 32%;
	}

	.card-group .card:not(:first-child) {
		margin-right: 0rem;
	}

</style>
