---
import Layout from '../layouts/Layout.astro';
import ColorPicker from '../components/React/ColorPicker.jsx';
import SelectedColor from '../components/React/SelectedColor.jsx';
import SelectedColorList from '../components/React/SelectedColorList.jsx';
---

<Layout title="Welcome to Astro.">
	<div class="colorpicker-wrapper">
		<p class="instructions">
			Select a color below to copy to clipboard and use whereever you need it.
		</p>
		<ColorPicker client:load/>
		<SelectedColor client:load/>
		<SelectedColorList client:load/>
	</div>
</Layout>
<style>

	.colorpicker-wrapper {
		padding: 5rem;
		background: #f9f9f9;
	}
	
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: rgba(var(--accent), 12%);
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}

</style>
